* {
    margin: 0;
    padding: 0;
}

body {
    font-size: medium;
}

.header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #808080;
    font-size: large;
    color: white;
}

.content {
    padding: 8px 24px;
    font-size: large;
}

.title {
    font-size: 64px;
    font-weight: bold;
    line-height: 2em;
}
